@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* RESET + GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", system-ui, -apple-system, "Segoe UI", sans-serif;
}

body {
  background: #f6f7f8;
  color: #111418;
}
